.text-scroll {
  overflow-y: scroll;
  padding-right: 18px;
  max-height: 760px;
  margin-top: 8px;
}

/* Estilos de la barra de desplazamiento */
/* Ajusta el ancho de la barra de desplazamiento */
.text-scroll::-webkit-scrollbar {
  width: 16px; 
}
 /* Color de fondo de la barra de desplazamiento */
.text-scroll::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Color del pulgar de la barra de desplazamiento */
.text-scroll::-webkit-scrollbar-thumb {
  background: #1DAEFF; 
}
